<section class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
      <h3 class="display-4">The Social Media App</h3>
      <p class="lead px-4">A fun place for developers and friends to share ideas on technology.Plenty of cool discussions!</p>
      <div>
        <a routerLink="/users/register" class="btn btn-light text-teal btn-sm">register</a>
        <a routerLink="/users/login" class="btn btn-teal btn-sm">Login</a>
      </div>
    </div>
  </div>
</section>
